---
title: 'How to submit Validation Report duing Stem OPT'
date: 2024-11-12T21:25:29-05:00
draft: true
category:
  - NWmissori
  - guide
tags:
  - IIC portal
  - opt
  - opt reporting
  - uscis
  - northwest missouri state university
  - internation student
  - telugu
description: Step-by-step clear guide regarding how to opt report to the IIC portal at Northwest Missouri State University after getting an offer letter.
image: 'https://i.ibb.co/fMd5m7q/northwest-missouri-state-university-logo-usa.jpg'
showTOC: true
uuid: "5a60574e-408b-45a4-b750-cb6b115a30f4"
---

### Introduction

This guide is for students of Northwest Missouri State University who are currenlty in STEM OPT exteinsion program. As we are expected to report to our DSO university via IIC portal and update the information in SEVIS portal. Follow the steps below to submit the validation report.

### Step 1: Things to do in IIC portal

#### 1.1 steps to OPT reporting section 

- logic to IIC student portalA
- scroll down the botton until we see OPT reporting section
![alt text](image.png)
- select the OPT reporting section
![alt text](image-1.png)
- open STEM section of employement information 
we are only expected to validate the information in STEM section
![alt text](image-2.png)
click on the stem section in any white space available
![alt text](image-3.png)

futher we will see all the employer details in this section selection, it will look something like this
![alt text](image-4.png)

We now have to validate all the information for each employer in this section

#### 1.2 Validate the information for each employer
![alt text](image-5.png)
select similar information for each emploer from the provided dropdown list

After this verify all the infomration in below sections when you scroll down 