{{ define "main" }}
<div>
  <style>
    .each-blog {
      height: auto;
    }
  </style>

  <section style="margin-top:20px" class="">
    <div class="container py-10 mx-auto">
      <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">What's so <span
          class="underline decoration-accent-500">Special</span>?</h1>

      <p class="mt-4 text-gray-500 xl:mt-6 dark:text-gray-300">
        Blogging is a rewarding passion that allows individuals to share their thoughts and opinions with the
        world.
        This
        platform offers a unique opportunity to connect with others and make a meaningful impact. I aspire to
        leverage
        this power by providing valuable insights and support to my audience.
      </p>

      <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 md:grid-cols-2 xl:grid-cols-3">
        <div class="p-8 space-y-3 border-2 border-blue-400 dark:border-blue-300 rounded-xl">
          <span class="inline-block text-blue-500 dark:text-blue-400">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
            </svg>
          </span>

          <h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">elegant Dark Mode</h1>

          <p class="text-gray-500 dark:text-gray-300">
            Dark mode is just safe of eyes and its super confortable for the eyes. Having flashy animations,
            colors
            might make the site pop out but eye safety is real!
          </p>
        </div>

        <div class="p-8 space-y-3 border-2 border-blue-400 dark:border-blue-300 rounded-xl">
          <span class="inline-block text-blue-500 dark:text-blue-400">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M11 4a2 2 0 114 0v1a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-1a2 2 0 100 4h1a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-1a2 2 0 10-4 0v1a1 1 0 01-1 1H7a1 1 0 01-1-1v-3a1 1 0 00-1-1H4a2 2 0 110-4h1a1 1 0 001-1V7a1 1 0 011-1h3a1 1 0 001-1V4z" />
            </svg>
          </span>

          <h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">True Content</h1>

          <p class="text-gray-500 dark:text-gray-300">
            All the content available on the platform is true to the facts. Only genuine experiences/
            opinions will be
            shared to the world.
          </p>

        </div>

        <div class="p-8 space-y-3 border-2 border-blue-400 dark:border-blue-300 rounded-xl">
          <span class="inline-block text-blue-500 dark:text-blue-400">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
            </svg>
          </span>

          <h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">Free of Cost</h1>

          <p class="text-gray-500 dark:text-gray-300">
            Self hosting a blog site takes a lot of work. Yet i have decided to keep the service free for
            anyone. might
            use ads in future!
          </p>

        </div>
      </div>
    </div>
  </section>
  <!-- All Posts -->
  <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">All Posts</h1>
  <ul style="margin-top:30px" class=" grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4">
    {{ range .Pages }}
    <li class="overflow-hidden each-blog">
      <a href="{{ .RelPermalink }}">
        <div class="bg-white border rounded-lg dark:bg-gray-800 dark:border-gray-700"
          style="box-shadow: 0px 0px 40px rgba(29, 58, 83, 0.15);">
          {{ if .Params.image }}
          <div class="p-5 h-56 flex align-middle justify-center rounded-t-lg">
            <img class="rounded-t-lg" src="{{ .Params.image}}" alt="Header image">
          </div>
          {{ end }}
          <div class="p-5 h-56 ">
            <div class="overflow-clip">
              <h2 class="mb-2 text-xl text-gray-900 dark:text-white font-righteous line-clamp-3"
                title="{{ .LinkTitle }}">{{ .LinkTitle }}</h2>
              <p class="line-clamp-3 mb-3 font-normal text-gray-700 dark:text-gray-400">{{ .Description }}</p>
            </div>
          </div>
          {{/* Add tags */}}
          <div class="mx-3 flex flex-row justify-start">
            {{ range .Params.category }}
            <div
              class="mx-3 text-center px-2 py-1 bg-slate-500 lg:text-md font-mono font-medium text-white-500 dark:text-white-400 mb-8">
              {{ . }}</div>
            {{ end }}
          </div>
        </div>
      </a>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}