{{ define "main" }}
{{ if .Params.image }}
   <div class="mt-16 mb-20">
    <img class="mx-auto max-w-96 max-h-56" src="{{ .Params.image}}" alt="Header image">
  </div>
{{ end }}
<h1 class="text-3xl lg:text-4xl font-righteous mb-8 text-center break-anywhere text-wrap">{{ .Page.Title }}</h1>
<h2 class="text-center lg:text-lg font-mono font-medium text-gray-500 dark:text-gray-400 mb-8">{{ time.Format "January 02, 2006" .Page.Date }}</h2>
<div class="flex flex-row justify-center">
  {{ range .Params.category }}
    <div class="mx-3 text-center px-2 py-1 bg-slate-500 lg:text-lg font-mono font-medium text-white-500 dark:text-white-400 mb-8">{{ . }}</div>
  {{ end }}
</div>
<div>
  <article class="prose dark:prose-invert lg:prose-xl break-anywhere prose-a:text-accent-500 mx-auto [&_code]:text-wrap" data-pagefind-body>
    {{ .Content }}
  </article>
</div>
{{ end }}
