<footer>
  <div class="mt-16 flex flex-col items-center bottom-">
    <p class="mb-8">I am dedicated to sharing the knowledge and insights I have acquired through personal experiences on
      this blog. I hope you find value in these lessons, and I encourage you to share them with those who may benefit
      from the content.</p>
    {{ partial "socials.html" . }}
    <div class="mb-3 text-sm text-gray-500 dark:text-gray-400">
      <div>Copyright © {{ now.Year }} Bane Blogs</div>
    </div>
  </div>
</footer>