<div id="search-modal" aria-hidden="true" class="hidden">
  <div tabindex="-1" data-micromodal-close class="absolute inset-0 bg-opacity-60 bg-black flex items-center justify-center">
    <div role="dialog" aria-modal="true" aria-labelledby="search-title" class="w-full sm:w-3/4 xl:w-1/3 bg-white dark:bg-slate-800 p-5 rounded-lg max-h-[80vh] overflow-y-auto" >
      <header class="flex justify-between mb-6">
        <h2 id="search-title" class="text-2xl font-righteous">
          Search
        </h2>
        <button aria-label="Close modal" data-micromodal-close class="font-bold before:content-['\2715']"></button>
      </header>
      <div id="search"></div>
    </div>
  </div>
</div>
