{{ define "main" }}
<div class="flex flex-col items-center justify-center h-full">
  <h1 class="font-semibold text-8xl">404</h1>
  <p class="text-5xl">page not found</p>
  <blockquote class="text-xl italic font-semibold text-gray-900 dark:text-white/[0.8] mt-32 text-center">
    <p>"Don't let perfection stand in the way of progress."</p>
    <footer>— <a href="https://arnoldspumpclub.com/" target="_blank" class="text-accent-500">Arnold Schwarzenegger</a></footer>
  </blockquote>
</div>
{{ end }}
