{{ define "main" }}
{{- .Content -}}

<div>
    <style>
        /* @import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap"); */
        @import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Bangers&family=Satisfy&display=swap');

        ::-webkit-scrollbar {
            display: none;
        }


        #textbox {
            margin: auto;
            width: 100vw;
            position: relative;
            font-weight: bolder;
            color: rgb(26, 26, 26);
            filter: url(#threshold)
        }

        #text1,
        #text2 {
            position: absolute;
            width: 100%;
            display: inline-block;
            /* font-family: 'Bangers', system-ui; */
            font-family: 'Satisfy', cursive;
            /* font-family: "Raleway", sans-serif; */
            /* font-size: 5vw; */
            text-align: center;
            user-select: none;
        }

        #dot {
            margin: 0px;
            animation: fadeAni 1.3s infinite;
        }

        @keyframes fadeAni {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }
    </style>
    <!--  ani-text -->
    <section class="flex flex-col items-center" style="margin-top:20px">
        <div class="h-52 md:h-64 text-white flex flex-row items-end lg:items-end justify-center p-2">
            <h1 class="text-5xl md:text-6xl lg:text-8xl text-center font-serif font-medium tracking-wide">Blazing
                Bane<span id="dot">.</span></h1>
        </div>
        <div style="max-width: 500px;margin-top:15px" class="text-center text-slate-300 my-3 px-4 md:px-0 lg:px-0">
            A page for all my activites on internet starting from streaming, blogging, coding and Memes!.
        </div>
        {{/*
        <hr style="
        display: block;
        border-radius: 1000px;
        width:70px;
        color: white;
        border-width: 1px;
          "> */}}
    </section>

    <div class="w-fit mx-auto" style="margin-top: 40px;">
        <div class="flex flex-row px-5 rounded-lg shadow bg-yellow-200 items-center" style="padding:10px 20px">
            <div>
                <svg class="w-fit h-6 fill-current text-yellow-500" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path d="M12 5.99L19.53 19H4.47L12 5.99M12 2L1 21h22L12 2zm1 14h-2v2h2v-2zm0-6h-2v4h2v-4z" />
                </svg>
            </div>
            <div class="ml-3">

                <p class="text-base text-black leading-relaxed">
                    Click here for my <a href="/blog" style="color: #800000;">Blogs</a>
                </p>
            </div>
        </div>
    </div>



    <!-- infi-scroll -->
    <div class="scrollable container">
        {{ $data := .Site.Data.infinite }}
        {{ range $key, $item := $data }}
        <a href="{{ $item.link }}" target="_blank">
            <div class="item">
                <img src="{{ $item.image }}" alt="{{ $item.name }} Logo">
                <p class="text-center text-slate-300 no-underline">
                    {{ $item.contents }}
                </p>
            </div>
        </a>
        {{ end }}
    </div>

    <!-- discord -->
    <section class="p-4 sm:p-2 lg:px-64 mt-20 hide-mobile">
        <div class="container">
            <iframe id="discord" height="500px" width="100%"
                src="https://discordapp.com/widget?id=515165357812613140&theme=dark " allowtransparency="true "
                frameborder="0 "></iframe>
        </div>
    </section>
</div>
{{ end }}