/* infinite scroll */
.container {
    width: 100%;
    overflow-x: auto;
}

.scrollable {
    transition: all 0.3;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    margin-top: 50px;
    justify-content: center;
    -webkit-transition: all 0.3;
    -moz-transition: all 0.3;
    -ms-transition: all 0.3;
    -o-transition: all 0.3;
}

.item {
    transition: all 0.3;
    padding: 20px;
    gap:10px;
    min-height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow:01px 0px 10px rgb(61, 57, 77);
    border: solid 2px rgb(84, 78, 105);
   
    background-color: rgb(61, 57, 77);
}
.item > img{
    border-radius: 20px;
    height: 70px;
}
.item >p {
    margin-top: 10px;
    width: 220px;
}

.hide-mobile{
    display: block;
}


/* Desktop Styles */
@media screen and (min-width: 1024px) {
    .hide-mobile{
        display: block;
    }
}

/* Tablet Styles */
@media screen and (max-width: 1023px) and (min-width: 768px) {
    body {
        background-color: #eaeaea;
    }

    .container {
        width: 85%;
    }
}

/* Mobile Styles */
@media screen and (max-width: 767px) {
    .hide-mobile{
        display: none;
    }
}
/* hugo figure */
.figure-medium img {
  max-width: 700px;
  width: 100%;
  height: auto;
}

.figure-small img {
  max-width: 200px;
}

.figure-large img {
  max-width: 1000px;
}
.image-caption {
    text-align: center;
    font-style: italic;
}